Product

<mat-list>
  <mat-list-item *ngIf="!((products$ | async)?.length)">
    No chocolates, add one to get started.
  </mat-list-item>
  <mat-list-item *ngFor="let product of (products$ | async)">
    <h3 matLine>{{ product.name }}</h3>
    <button mat-mini-fab color="accent" [routerLink]="[product.id, 'edit']">
      <mat-icon>edit</mat-icon>
    </button>
    &nbsp;
    <button mat-mini-fab color="warn" (click)="onRemove(product)">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
