<!--form-- #myForm="ngForm"
  (ngSubmit)="addProduct()">
  <label for="name">Name</label>
  <input type="text" [(ngModel)]="name"
         name="name"
         id="name">
  <label for="price">Price</label>
  <input type="number" [(ngModel)]="price"
          name="price"
          id="price">
  <button type="submit">Add Product</button>
</form-->

Product  Price

<ul>
  <li *ngFor="let product of products">
    <!--<span [routerLink]="['/products', product.id]">{{ product.name }} {{ product.price }}</span>-->
    <!--<button [routerLink]="['products', product.id, 'edit']">Edit</button>-->
    <!--<button (click)="deleteProduct(product.id)">Delete</button>-->
    <product-item [product]="product"
            (editClick)="deleteProduct($event)">
    </product-item>
  </li>
</ul>